{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}

<div>

    <p>Site en cours de construction</p>


</div>



<a href="/program">Voir les Séries disponible actuellement</a>

{% endblock %}